@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(../lato/Lato-Black.ttf) format('truetype');
}

body {
  background-image: url('../img/cream_dust.png');
  background-repeat: repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Lato',Helvetica,Arial,sans-serif;
  color: #333;
}

a {
  color: rgb(7, 162, 219);
}

a:hover, a:focus, a:active {
  color: rgb(7, 162, 219);
}

.header {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav > li > a {
  border: 1px solid transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);
 
}

.footer {
  padding-top: 10px;
  border-top: 1px solid rgb(230, 230, 230);

  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

#nametag {
  height: 300px;
  margin: 0 auto 30px auto;
  padding: 15px 0;

  text-align: center;
  background-color: #EF3D33;
  color: white;
  border-radius: 15px;

  box-shadow: 5px 5px 10px -3px #888;
}

@media (min-width: 500px) {
  #nametag {
    width: 500px;
  }
}

#nametag h2 {
  margin: 0;

  font-weight: 900;
  font-size: 64px;
  letter-spacing: 4px;
}

#nametag h3 {
  margin: -10px 0 15px 0;

  font-size: 36px;
}

#namebox {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items:center;

  background-color: white;
}

#namebox h1 {
  font-family: 'Princess Sofia', cursive;
  font-size: 64px;
  font-weight: 400;
  color: #333;
}

#blurb {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

/* Modal code inspired by: https://jsfiddle.net/kumarmuthaliar/GG9Sa/1/ */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.8);

  opacity: 0;
  pointer-events: none;
}


.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  position: relative;
  width: 300px;

  margin: 10% auto;
  padding: 5px 20px 10px 20px;

  background: white;
}


.modalDialogL {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: initial;    

  background: rgba(0, 0, 0, 0.8);

  opacity: 0;
  pointer-events: none;
}


.modalDialogL:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialogL.open {
    display: grid;
    grid-template-rows: 100px auto 100px;
}
.modalDialogL__content {
    overflow-y: auto;
}
.modalDialogL > div {
  position: relative;
  display: table; /* This is important */ 
 
  overflow-y: auto;
  overflow-x: auto;
  max-width: 700px;
  max-height: calc(100vh - 210px);
  margin: 10% auto;
  padding: 5px 20px 10px 20px;

  background: white;
}
